@use '../../theme' as t

.button
  border: none
  outline: none
  color: t.$cool-gray
  background-color: transparent
  font-weight: 700
  padding: 1em

.button-primary
  color: t.$white
  background-color: t.$marine-blue
  border-radius: 4px