@use '../../theme' as t

.form-control
  background-color: t.$white
  padding: 2.25em 1.5em
  width: 343px
  height: 376px
  border-radius: t.$border-radius
  @include t.box-shadow
  position: relative
  left: 1em
  top: -4.5em
  display: flex
  flex-direction: column
  justify-content: space-between

.form-control h1
  color: t.$marine-blue

.form-control p
  color: t.$cool-gray
  line-height: 1.5

.form-control form
  display: flex
  flex-direction: column
  gap: 1em

.form-buttons
  width: 100%
  height: 72px
  padding: 1em
  background-color: t.$white
  position: absolute
  bottom: 0
  display: grid
